.comment {
    text-align: center;
}

.commentEmail {
    font-size: 30px;
    color: red;
    padding-top: 3%;
}

.commentName {
    font-weight: bold;
    font-size: 25px;
}

.commentBody {
    font-size: 20px;
}